
{% extends "bootstrap/base.html" %}

{% block title %}Yowlapro{% endblock %}

{% block head %}
{{ super() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-200001679-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-200001679-1');

  <meta charSet="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</script>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename="apple-touch-icon.png")}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename="favicon-32x32.png")}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename="favicon-16x16.png")}}">
<link rel="manifest" href="{{url_for('static',filename="apple-touch-icon.png")}}">
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->
<!--<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/static/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/styles.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content %}
<!--<div id="navbar-top" class="navbar-top bg18 border-bottom-00" >-->
<!--      <div class="container width-100-sm-only">-->
<!--        <div class="container-fluid height-60px pad-0">-->
<!--          <div class="row height-60px">-->
<!--            <div class="col-xs-4 valign-middle">-->
<!--              <div class="pad-top-5 iblock valign-top">-->
<!--&lt;!&ndash;                                  <a data-toggle="modal" data-target="#search-results" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="https://theathletic.com/app/themes/athletic/assets/img/header-search-icon-white@2x.png" width="20" height="20" alt="Search">&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->
<!--                  <div class="modal modalbgdark" id="search-results" role="dialog" style="display: none;">-->
<!--  <div class="header-modal-fill blackbg"></div>-->
<!--  <div class="modal-dialog header-modal-container pad-top-5" role="document">-->
<!--    <div class="container">-->
<!--      <div class="modal-header pad-bottom-0 pad-top-18 margin-bottom-15 blackbg" style="border:0; padding-bottom:11px;">-->
<!--        <a href="#" data-dismiss="modal" id="search-results-dismiss-button" class="pull-right search-close-icon pad-top-10 pad-left-10 pad-right-25">-->
<!--          <img class="close-icon filter-invert" src="https://theathletic.com/app/themes/athletic/assets/img/icon-close@2x.png" width="14" height="13">-->
<!--        </a>-->
<!--        <div class="search-more-text">-->
<!--          Press 'Enter' to see all results        </div>-->
<!--            <div class="flex flex-row align-center">-->
<!--      <img id="icon-search-header" src="https://theathletic.com/app/themes/athletic/assets/img/search-icon@2x.png" class="author-search-icon" width="40" height="40">-->
<!--      <div class="flex flex-grow1 align-center">-->
<!--        <form class="width-100 article-search-form" search-url="">-->
<!--          <input class="width-100 author-search-text search-input" type="text" id="search-header" limit="4" should-paginate="true" author-id="" placeholder="Search for writers or stories" from-date="" to-date="" value="" page="0">-->
<!--        </form>-->
<!--      </div>-->
<!--      <div id="loader-search-header" class="display-none"><img src="https://theathletic.com/app/themes/athletic/assets/img/loading@2x.gif" class="loader-gif" width="64" height="64"></div>-->
<!--    </div>-->
<!--    <div class=" margin-top-5"></div>-->
<!--          </div>-->
<!--      <div class="modal-body search-results-container display-none lightbg2 full-screen-width" id="article-list-container-search-header">-->
<!--        <div class="container">-->
<!--          <div class="row calibre font-13 pad-bottom-24">-->
<!--            <div class="col-md-8 pad-0 pad-top-30 calibre font-14 allcaps lighttext2">Most Recent Stories</div>-->
<!--            <div class="col-md-3 col-md-offset-1 pad-0 pad-top-30 calibre font-14 allcaps lighttext2">Authors</div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <ul class="col-md-8 pad-0 search-list" id="article-list-search-header">-->
<!--            </ul>-->
<!--            <ul class="col-md-3 col-md-offset-1 pad-0 author-search-list" id="author-list-search-header">-->
<!--            </ul>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--                              </div>-->
<!--                          </div>-->

<!--            <div class="col-xs-4 text-center pad-0">-->
<!--              <div class="pad-top-5">-->
<!--                <a href="/">-->
<!--      <img src="/static/Yowla.png" class="header-athletic-logo-nse" style="height: 60px; width: 300px">-->
<!--  </a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-xs-4 text-right nowrap pad-top-5">-->
<!--                <div class="nowrap pad-top-14">-->
<!--                    {% if current_user.is_authenticated %}-->
<!--                        <li class="dropdown">-->
<!--                    <a class="calibre-medium font-16 login-text-nse pad-right-24" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        <img src="{{ current_user.gravatar(size=18) }}">-->
<!--                        Account <b class="caret"></b>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24" href="{{ url_for('auth.change_password') }}">Change Password</a></li>-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24" href="{{ url_for('auth.logout') }}">Log Out</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                    {% else %}-->
<!--                    <a class="calibre-medium font-16 login-text-nse pad-right-24" href="{{ url_for('auth.login') }}">Log In</a>-->
<!--&lt;!&ndash;                    <a id="header-v3-checkout" class="subscribe-cta-exp black-background-button-nse trial-button-nse pad-horiz-20 calibre-medium font-16 letter-spacing-0-2-5" href="/checkout2/introannual33?checkout_entry_point=universal_nav_CTA">Subscribe</a>&ndash;&gt;-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--<div class="navbar navbar-inverse bd-navbar navbar-fixed-top" role="navigation">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header" style="color: #fbfbfb">-->
<!--&lt;!&ndash;            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--            <a class="navbar-brand mr-0 mr-md-2" href="{{ url_for('main.index') }}" style="color: #fbfbfb; width: 200%">-->
<!--                <img src="/static/logo_white.png" width="70" height="70" class="d-inline-block align-top" style="margin-top: -20%" alt=""></a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse" >-->
<!--            <ul class="nav navbar-nav " >-->
<!--                <li ><a href="{{ url_for('main.index') }}" style="color: #fbfbfb">Home</a></li>-->
<!--&lt;!&ndash;                <li ><a href="{{ url_for('main.intro') }}" style="color: #fbfbfb">Intro</a></li>&ndash;&gt;-->
<!--                 <li ><a href="{{ url_for('main.team') }}" style="color: #fbfbfb">Tribe</a></li>-->
<!--                <li ><a href="{{ url_for('main.contact_us') }}" style="color: #fbfbfb">Contact Us</a></li>-->
<!--                {% if current_user.is_authenticated %}-->
<!--                <li><a href="{{ url_for('main.user', username=current_user.username) }}" style="color: #fbfbfb">Profile</a></li>-->
<!--                {% endif %}-->
<!--                {% if current_user.can(Permission.MODERATE) %}-->
<!--                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <div class="nowrap pad-top-14">-->
<!--                    {% if current_user.is_authenticated %}-->
<!--                        <li class="dropdown">-->
<!--                    <a class="calibre-medium font-16 login-text-nse pad-top-14 pad-right-24" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        <img src="{{ current_user.gravatar(size=18) }}">-->
<!--                        Account <b class="caret"></b>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24 pad-top-14" href="{{ url_for('auth.change_password') }}">Change Password</a></li>-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24 pad-top-14" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>-->
<!--                        <li><a class="calibre-medium font-16 login-text-nse pad-right-24 pad-top-14" href="{{ url_for('auth.logout') }}">Log Out</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                    {% else %}-->
<!--                    <a class="calibre-medium font-16 login-text-nse pad-top-14 pad-right-24" href="{{ url_for('auth.login') }}">Log In</a>-->
<!--&lt;!&ndash;                    <a id="header-v3-checkout" class="subscribe-cta-exp black-background-button-nse trial-button-nse pad-horiz-20 calibre-medium font-16 letter-spacing-0-2-5" href="/checkout2/introannual33?checkout_entry_point=universal_nav_CTA">Subscribe</a>&ndash;&gt;-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@yowlapro.com">info@yowlapro.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 412 708 2129</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://twitter.com/Yowlapro" class="twitter"><i class="bi bi-twitter"></i></a>
<!--        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
        <a href="https://www.linkedin.com/company/yowlapro/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

<!--      <h1 class="logo"><a href="index.html">BizLand<span>.</span></a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo"><img src="/static/logo_white.png" alt="" width="70" height="70" style="margin-top: -5%">Yowlapro<span>.</span></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href={{url_for('main.index')}}>Blog</a></li>
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


<div class="container" style="margin-top: 10%">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
<!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Yowlapro<span>.</span></h3>
            <p>
              76 Columbia Ave <br>
              Jersey City, NJ 07307<br>
              United States <br><br>
              <strong>Phone:</strong> +1 412 708 2129<br>
              <strong>Email:</strong> info@yowlapro.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
<!--            <p></p>-->
            <div class="social-links mt-3">
              <a href="https://twitter.com/Yowlapro" class="twitter"><i class="bx bxl-twitter"></i></a>
<!--              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
              <a href="https://www.linkedin.com/company/yowlapro/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Yowlapro</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<div id="preloader"></div>
  <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
{% endblock %}
